
/* xxl */
@media (min-width:1400px){
    .hero_slider_dots {
        bottom: 232px;
        right: 50%;
    }
}

/* xl */
@media (min-width:1200px) and (max-width:1399.98px){
    
}

/* lg */
@media (min-width:992px) and (max-width:1199.98px){
    nav #primary_menu ul {
        margin-left: 310px;
    }
    #hero h1 {
        font-size: 75px;
        line-height: 0.5;
        margin-bottom: 29px;
        padding-top: 125px;
    }
    #hero p {
        font-size: 19px;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    #about h2 {
        font-size: 68px;
    }
    #about p {
        font-size: 23px;
    }
    #offer .offer_info h2 {
        margin-top: 48px;
        font-size: 68px;
    }
    #offer .offer_info p {
        font-size: 22px;
    }
    .hero_slider_dots {
        bottom: 305px;
    }
}

/* md */
@media (min-width:768px) and (max-width:991.98px){
    nav #primary_menu ul{
        margin-left: 0px;  
    }
    #hero p {
        font-size: 20px;
        margin-bottom: 40px;
        margin-top: 5px;
    }
    #hero h1 {
        font-size: 77px;
        padding-top: 130px;
    }
    img, svg {
        vertical-align: revert;
    }
    #about h2 {
        font-size: 64px;
        margin-top: 45px;
    }
    #about p {
        font-size: 21px;
        margin-bottom: 47px;
    }
    #new_pro h2 {
        font-size: 46px;
    }
    #offer .offer_info h2 {
        font-size: 52px;
        margin-top: 40px;
    }
    #offer .offer_info p {
        font-size: 18px;
        margin-bottom: 25px;
        width: 720px;
    }
    #Feedback h2 {
        font-size: 34px;
        margin-bottom: 18px;
    }
    .hero_slider_dots {
        bottom: 250px;
    }
}
/* sm */
@media (min-width:576px) and (max-width:767.98px){
    nav #primary_menu ul{
        margin-left: 0px;  
    }
    #hero h1 {
        font-size: 70px;
        padding-top: 43px;
    }
    #hero p {
        font-weight: 500;
        width: 541px;
        margin-top: 10px;
    }
    #hero a {
        font-size: 21px;
    }
    img, svg {
        vertical-align: revert;
    }
    #about h2 {
        font-size: 60px;
        margin-top: 20px;
    }
    #about p {
        font-size: 17px;
        margin-bottom: 17px;
    }
    #offer .offer_info h2 {
        font-size: 40px;
        margin-top: 17px;
    }
    #offer .offer_info p {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 20px;
        width: 536px;
    }
    #best_seller_products h2 {
        font-size: 43px;
        margin-top: 40px;
        margin-bottom: 15px;
    }
    footer h4 {
        margin-top: 15px;
    }
    #Feedback h2 {
        font-size: 29px;
    }
}

/* xs */
@media (max-width:575.98px){
    nav #primary_menu ul{
        margin-left: 0px;  
    }
    nav #primary_menu ul li a {
        font-size: 12px;
        padding: 14px 15px;
    }
    .hero_slider_dots {
        bottom: -67px;
    }
    #hero h1 {
        font-size: 65px;
        padding-top: 30px;
    }
    #hero p {
        font-size: 17;
        margin-bottom: 35px;
        width: 349px;
        margin-top: 15px;
    }
    #hero .info_btn {
        margin-top: 29px;
        padding-bottom: 35px;
    }
    #hero a {
        font-size: 16px;
        padding: 10px 23px;
        margin-left: 10px;
    }
    img, svg {
        vertical-align: revert;
    }
    #about h2 {
        font-size: 54px;
        margin-top: 13px;
    }
    #about p {
        font-size: 22px;
        margin-bottom: 26px;
    }
    #new_pro h2 {
        font-size: 45px;
        margin-top: -42px;
    }
    #offer .offer_info h2 {
        font-size: 44px;
        margin-top: 16px;
    }
    #offer .offer_info p {
        font-size: 20px;
        margin-bottom: 0px;
        width: 333px;
    }
    footer h4 {
        color: white;
        font-family: Josefin Sans;
        font-weight: 700;
        line-height: 72px;
        font-size: 36px;
        margin-top: 24px;
    }
  
}